body {
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
    width: 100%;
    background-size: 100% 100%;
    background-attachment fixed;
}
*{padding: 0px; margin; 0px}
menu {height: 50px; background-color: palevioletred; width:900px; margin:auto;}
menu ul {List-style : none}
menu ul li {float: left; line-height: 50px; width: 20%; text-align: center;}
menu ul li a {text-decoration: none; color:black; font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif; display: block}
menu ul li a:hover {color: white; background-color: black}

#myHeader {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
  } 
p { color: black;}